<div class=" px-4 py-2  mb-0 sm:mb-0 fixed bottom-0 left-0 z-10 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex">
          <input type="text" placeholder="Write your message!" id="message-input" class="w-full focus:outline-none placeholder:text-xs focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-10 bg-gray-200 rounded-sm py-3 flex-wrap">
          <button type="submit" id="send-btn"
             class="inline-flex justify-center items-center p-2 text-blue-600 rounded-full cursor-pointer dark:text-blue-500 ">
             <svg class="w-5 h-5 rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 18 20">
                <path
                   d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
             </svg>
          </button>
       </div>
    </div>
 </div>